{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "bracketSameLine": true,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "auto"
}
