@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: overlay;
}

.playlist-preview:hover,
.playlist-preview.selected {
  border-color: var(--accent-color);
}

.playlist-preview.selected {
  --tw-ring-color: var(--accent-color);
}

.clickable {
  @apply cursor-pointer transition-transform active:scale-[.97] active:will-change-transform;
}

.backface-hidden {
  backface-visibility: hidden;
}

/* .playlist-preview::before {
  content: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transform: translate(50%, 25px);
}

.playlist-preview:hover::before {
  content: '';
} */
